{% extends "base.html" %}
{% block main %}

<!--<h2>All posts</h2>-->

<table class="table">
    <thead>
        <th class="8 wide">Title</th>
        <th class="3 wide">Created</th>
        <th class="3 wide">Last updated</th>
        <th class="2 wide">Delete</th>
    </thead>

    <tbody>
        {% for post in posts %}
            <tr>
                <td>
                    <a href="/admin/posts/{{ post.id }}">
                        {{ post.title }}
                    </a>
                </td>
                <td>
                    {{ post.created.strftime('%-I:%M %p %h %d, %Y') }}
                </td>
                <td>
                    {{ post.updated.strftime('%-I:%M %p %h %d, %Y') }}
                </td>
                <td>
                    <span><i class="glyphicon glyphicon-trash"></i></span>
                </td>
            </tr>
        {% endfor %}

    </tbody>


</table>


{% endblock %}
