{% extends "base.html" %}
{% block main %}

<h2>All posts</h2>

<table class="ui table">
    <thead>
        <th class="8 wide">Post Title</th>
        <th class="3 wide">Creation date</th>
        <th class="3 wide">Last updated</th>
        <th class="2 wide">Delete</th>
    </thead>

    <tbody>
        {% for post in posts %}
            <tr>
                <td>
                    <a href="/admin/posts/{{ post.id }}">
                        {{ post.title }}
                    </a>
                </td>
                <td>
                    {{ post.created }}
                </td>
                <td>
                    {{ post.updated }}
                </td>
                <td>
                    X
                </td>
            </tr>
        {% endfor %}

    </tbody>


</table>


{% endblock %}
