<html>
    <head>
        <title>{{ title }}</title>
        <link href="/static/admin/admin.css" rel="stylesheet" type="text/css" />
        <script src="/static/admin/admin.js"></script>
        <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

    </head>


    <body>


            <div id="container">

                    <div class="col-sm-2 sidebar" id="leftnav">
                        <div class="nav">
                            <!--<h2>remns</h2>-->
                            <!--<hr />-->
                        </div>
                        <div class="spacer120"></div>
                        <ul class="nav nav-sidebar">
                            <li><a href="/admin/posts">All Posts</a></li>
                            <li><a href="/admin/posts/new">New</a></li>
                            <li><a href="/admin/logout">Log Out</a></li>
                        </ul>
                    </div>

                    <div class="col-sm-8" id="main">
                        {% block main %}
                        {% endblock %}
                    </div>
              </div>

    </body>

</html>
