{% extends "base.html" %}
{% block main %}



<form id="post-form" class="form" action="/admin/posts" method="post">

    <div class="field">
      <h4>Title</h4>
      {% if post %}
      <input name="post-title" value="{{ title_placeholder }}" type="text">
      {% else %}
      <input name="post-title" placeholder="{{ title_placeholder }}" type="text">
      {% endif %}
    </div>
    <h4> Select tags: </h4>

    <div class="row">
        <input class="form control" type="text" id="add-tags" />
    </div>

  <div id="epiceditor" class="z-depth-3"></div>

  <div class="row"></div>

  {# Button Alignment #}
  <div class="row">
      {% if post %}
        {% if post.published %}
        <a href="javascript:void(0)"  class="waves-effect waves-light btn teal post-submit"
           data-action="update" data-mode="published">
            Update 
        </a>
        {% else %}
            {# Existing post but only in draft form. #}
        <a href="javascript:void(0)"  class="waves-effect waves-light btn blue post-submit"
           data-action="update" data-mode="draft">
            Update Draft
        </a>
        <a href="javascript:void(0)"  class="waves-effect waves-light btn red post-submit"
           data-action="update" data-mode="published">
           Publish
        </a>
        {% endif %}
      {% else %}
        <a href="javascript:void(0)"  class="col offset-s2 s3 waves-effect waves-light btn blue post-submit"
           data-action="create" data-mode="draft">
           Save Draft
        </a>
        <a href="javascript:void(0)"  class="col s3 waves-effect waves-light btn red post-submit"
           data-action="create" data-mode="published">
           Publish
        </a>
      {% endif %}
  </div>
  
</form>

<textarea id="initial-content" hidden="true" >
{% if post %}
    {{ post.raw_content }}
{% endif %}
</textarea>

<script src="/static/admin/utils.js"></script>
<script>
    $(function(){
        // load the editor -> load post_id, -> init other things (like loading tags)
        remns.editor=remns.init();
        remns.post_id = {{ post.id if post}}
        remns.tagsInit();
    });
</script>
{% endblock %}
