{% extends "base.html" %}
{% block main %}


<form id="post-form" class="form-horizontal" action="/admin/posts" method="post" xmlns="http://www.w3.org/1999/html">
    <div class="form-group">
    <fieldset>
    <div class="field">
      <h3>Title</h3>
      {% if post %}
      <input name="post-title" class="form-control" value="{{ title_placeholder }}" type="text">
      {% else %}
      <input name="post-title" class="form-control" placeholder="{{ title_placeholder }}" type="text">
      {% endif %}
        <h3> Tags: </h3>
        <input class="" type="text" id="add-tags" />
    </div>


  <div id="epiceditor" class="well"></div>

  {# Button Alignment #}
  <div class="row">
      <div class="pull-right btn-group">
      {% if post %}
        {% if post.published %}
        <a href="javascript:void(0)"  class="btn btn-primary pull-right post-submit"
           data-action="update" data-mode="published">
            Update 
        </a>
        {% else %}
            {# Existing post but only in draft form. #}
        <a href="javascript:void(0)"  class="btn btn-primary pull-right post-submit"
           data-action="update" data-mode="draft">
            Update Draft
        </a>
        <a href="javascript:void(0)"  class="btn btn-primary pull-right post-submit"
           data-action="update" data-mode="published">
           Publish
        </a>
        {% endif %}
      {% else %}
              <a href="javascript:void(0)"  class="btn btn-primary pull-right post-submit"
           data-action="create" data-mode="published">
           Publish
        </a>
        <a href="javascript:void(0)"  class="btn btn-primary pull-right post-submit"
           data-action="create" data-mode="draft">
           Save Draft
        </a>

      {% endif %}
          </div>
  </div>
    </fieldset>
</div>
</form>

<textarea id="initial-content" hidden="true" >
{% if post %}
    {{ post.raw_content }}
{% endif %}
</textarea>

<script src="/static/admin/utils.js"></script>
<script>
    $(function(){
        // load the editor -> load post_id, -> init other things (like loading tags)
        remns.editor=remns.init();
        remns.post_id = {{ post.id if post}}
        remns.tagsInit();
    });
</script>
{% endblock %}
