{% extends "base.html" %}
{% block main %}

<form id="post-form" class="ui form" action="/admin/posts" method="post">

    <div class="field">
      <label>Title</label>
      <input name="post-title" placeholder="{{ title_placeholder }}" type="text">
    </div>


    <div id="epiceditor"></div>

  <a href="javascript:void(0)" id="epiceditor-publish" class="fluid ui button">
    Publish
  </a>
  <a href="javascript:void(0)" id="epiceditor-draft" class="fluid ui button">
    Save as Draft 
  </a>
</form>

<textarea id="initial-content" hidden="true" >
{{ post.raw_content  }}
</textarea>
<script src="/static/utils.js"></script>
{% endblock %}
