{% extends "base.html" %}
{% block main %}
<header>
    <h3> 
        Login to remns admin panel
    </h3>

</header>

<form class="ui form" method="post">
  <div class="two fields">
    <div class="field">
      <label>Username</label>
      <input name="admin-username" placeholder="username" type="text">
    </div>
    <div class="field" >
      <label>Password</label>
      <input name="admin-password" type="password">
    </div>
  </div>
  <button type="submit" class="fluid ui button">
    Login
  </button>
</form>

{% endblock %}
