{% extends "base.html" %}
{% block main %}

<h2>
    Create a new post!
</h2>

<form id="post-form" class="ui form" action="/admin/posts" method="post">

    <div class="field">
      <label>Title</label>
      <input name="post-title" placeholder="Enter in your posts title" type="text">
    </div>


    <div id="epiceditor"></div>

  <a href="javascript:void(0)" id="epiceditor-publish" class="fluid ui button">
    Publish
  </a>
  <a href="javascript:void(0)" id="epiceditor-draft" class="fluid ui button">
    Save as Draft 
  </a>
</form>

<script src="/static/utils.js"></script>
{% endblock %}
